# khel
VITE_SERVER_URL=
VITE_WALLETCONNECT_PROJECT_ID=

# card-wars
VITE_CARD_WARS_BACKEND_URL=
VITE_CARD_WARS_CHAIN_ID=
VITE_CARD_WARS_CONTRACT_ADDRESS=

# zk-Mines
VITE_ZK_MINES_BACKEND_URL=
VITE_ZK_MINES_CHAIN_ID=
VITE_ZK_MINES_CONTRACT_ADDRESS=

# speed-o-light
VITE_SPEED_O_LIGHT_BACKEND_URL=
VITE_SPEED_O_LIGHT_CHAIN_ID=
VITE_SPEED_O_LIGHT_CONTRACT_ADDRESS=
