VITE_SERVER_URL=http://localhost:3000

VITE_CARD_WARS_BACKEND_URL=http://localhost:4000
VITE_WALLETCONNECT_PROJECT_ID=

VITE_ZK_MINES_CONTRACT_ADDRESS=

VITE_SPEED_O_LIGHT_CONTRACT_ADDRESS=
VITE_SPEED_O_LIGHT_CHAIN_ID=8453
