DATABASE_URL=
DIRECT_URL=
CORS_ORIGIN=
REDIS_URL=  # defaukt: redis://localhost:6379
NODE_ENV=   # default: development , options: development, production, test
KURIER_URL=
KURIER_API=
KURIER_SYNC_INTERVAL_MS=
KURIER_SYNC_CONCURRENCY=
KURIER_HTTP_TIMEOUT_MS=
